# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
name: GitHub-Pipeline-Demo

trigger:
- none

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  submodules: true
  persistCredentials: true
  clean: true
- bash: git config user.email azure@devops && git config user.name "Azure DevOps" && git status
  displayName: Configure git
- bash: git checkout $(Build.SourceBranchName)
  displayName: Checkout branch $(Build.SourceBranchName)
  
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'
