# Sample Comment
# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
jobs:

- job:
  condition: true
  displayName: 'macOS'
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: echo Hello, world!
    displayName: 'Run a one-line script'


- job:
  condition: true
  displayName: 'Linux'
  pool:
    vmImage: 'Ubuntu-latest'
  steps:
  - script: |
      echo Add other tasks to build, test, and deploy your project.
      echo See https://aka.ms/yaml
    displayName: 'Run a multi-line script'
